asn1crypto==1.2.0
astroid==2.3.2
certifi==2019.9.11
cffi==1.13.2
colorama==0.4.1
cryptography==3.2
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pycparser==2.19
pylint==2.4.3
pyOpenSSL==19.0.0
PySocks==1.7.1
selenium==3.141.0
six==1.13.0
urllib3==1.25.6
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
